/* div[data-testid="stVerticalBlock"] {
  width: 80% important!;
} */

div[data-testid="stAppViewBlockContainer"] {
  max-width: 60rem !important;
}

div:contains("téléchargée") > div > div {
  justify-content: center !important;
}

div:contains("téléchargée") {
  background-color: red;
}
