/* div[data-testid="stVerticalBlock"] {
  width: 80% important!;
} */

div[data-testid="stAppViewBlockContainer"] {
  max-width: 60rem !important;
}

div:contains("téléchargée") > div > div {
  justify-content: center !important;
}

/* div[data-testid="stImageCaption"]:contains("téléchargée") {
  background-color: red;
} */

div.system_prompt,
div.user_prompt {
  border: grey solid 1px;
  padding: 5px;
  margin: 5px;
}

div.stMarkdown p {
  font-size: 0.8em;
  margin: 0;
}
