/* div[data-testid="stVerticalBlock"] {
  width: 80% important!;
} */

div[data-testid="stAppViewBlockContainer"] {
  max-width: 60rem !important;
}

div:contains("Image téléchargée.") > div > div {
  justify-content: center !important;
}
